body{
    margin: 0;
}
nav ol {
    margin-left: 20%;
}

nav ol li {
    display: inline-block;
    vertical-align: middle;
    margin-left: 30px;
}

nav ol li img {
    position: relative;
    right: 150px;
    height: 50px;
}

nav ol li button {
    background-color: inherit;
    color: #5B9622;
    border: 2px solid #5B9622;
    padding: 10px;
    font-weight: bold;
    /* border-radius: 20px; */
}
/* 
#first {
    position: relative;
} */

#first img {
    position: relative;
    width: 100%;
}

#first .text {
    position: absolute;
    top: 35vh;
    left: 10%;
    /* bottom: 0; */
    /* margin: auto; */
}

#first .text .second h1{
    background-color: #5B9622;
    margin: 4px;
    color: white;
    /* margin-bottom: 10px; */
}
#first .text .third{
    margin-top: 30px;
}
#first .text .third p{
    background-color: rgb(46, 41, 41);
    opacity: 0.5;
    /* border: 2px dashed black; */
    margin: 4px;
    color: white;
}
iframe{
    width: 40vw;
    height: 40vh;
    position: absolute;
    right: 10vw;
    top: 35vh;
}

@media screen  and (max-width:865px) {
    .box .box3 {
        margin: auto;
        position: relative;
        width: fit-content;
        top: 10vh;
        display: block;
    }
    
}
.box {
    margin: auto;
    position: relative;
    width: fit-content;
    top: 10vh;
}
.box3 {
    width: fit-content;
    height: fit-content;
    display: inline-block;
    margin-right: 30px;
    /* border-right:1px solid black; */
}
.last{
    text-align: center;
    color: black;
}
.icon5{
    position: relative;
    /* top: -25px; */
    left: 45%;
    right : 45%;
    /* width: 40px; */
    color: white;
    padding: 10px;
    /* margin-left: 10px; */
    border-radius: 40px;
    background-color: #5B9622;
    width: 45px;
    height: 45px;
}

