.background{
    background-color: #B2B2B2;
    width: 100%;
    height: 619px;
}
.first{
    position: absolute;
    left: 55%;
}
nav ol {
    margin-left: 40%;
    position: relative;
    color: white;
}
nav ol li {
    display: inline-block;
    /* vertical-align: middle; */
    margin-left: 10px;
}
nav ol li h1 {
    position: relative;
    right: 500px;
    font-size: 2em;
}
.icon1{
    color: yellow;
    margin-left: 10px;
}
.icon2{
    color: red;
}
nav ul{
    position: relative;
    background-color: white;
    color: black;
    /* border: 1px solid black; */
    border-radius: 50px;
    height: 70px;
    margin: 0px 150px 0px 150px;
}
nav ul li {
    display: inline-block;
    vertical-align: middle;
    margin-left: 30px;
    font-weight: bold;
    position: relative;
    top: 25px;
    /* left: 20px; */
}
.icon3{
    position: relative;
    left: 300px;
}
.fa-facebook-f{
    color: rgb(36, 92, 214);
}
.fa-twitter{
    color: cadetblue;
}
.fa-linkedin{
    color: coral;
}

#second {
    position: relative;
}
.text p{
    font-size: 1.3em;
}
#second .text {
    position: absolute;
    top: 100px;
    left: 10%;
    margin: auto;
    color: white;
}
.text1{
    color: #DD3447;
}
#third {
    color: white;
    padding: 20px;
    font-weight: bold;
    border-radius: 20px 0px 20px 0px;
    background-color: #DD3447 ;
}
#third:hover{
    background-color: inherit;
    color: black;
}
.box {
    margin: auto;
    position: relative;
    width: fit-content;
    top: 40px;
}
.box3 {
    width: fit-content;
    height: fit-content;
    display: inline-block;
}
.last{
    text-align: center;
    color: white;
}
.icon5{
    position: relative;
    top: -25px;
    left: 45%;
    right : 45%;
    color: white;
    padding: 10px;
    border-radius: 40px;
}
.fa-home{
   background-color: #FD4C43 ;
}
.fa-user{
    background-color: #FCB82F;
}
.fa-cog{
    background-color: #12C3AF;
}
.pink{
    background-color: #FD4C43;
}
.yellow{
    background-color: #FCB82F;
}
.green{
    background-color: #12C3AF;
}