nav ol {
    margin-left: 20%;
}

nav ol li {
    display: inline-block;
    vertical-align: middle;
    margin-left: 30px;
}

nav ol li img {
    position: relative;
    right: 150px;
    height: 50px;
}

nav ol li button {
    background-color: #84C52B;
    color: white;
    padding: 10px;
    font-weight: bold;
    border-radius: 20px;
}

#first {
    position: relative;
}

#first img {
    position: relative;
    width: 100%;
}

#first .text {
    position: absolute;
    top: 200px;
    left: 10%;
    /* bottom: 0; */
    margin: auto;
}

#second {
    color: black;
    padding: 10px;
    font-weight: bold;
    background-color: inherit;
    border-radius: 20px;
}
#second:hover{
    background-color: #84C52B ;
    color: white;
}

.box {

    margin: auto;
    position: relative;
    width: fit-content;
}
.box3 {
    width: 150px;
    height: 150px;
    color: black;
    display: inline-block;
    border: 1px solid black;
    background-color: white;
}
.box3:hover{
    background-color: rgb(44, 41, 41);
    color: white;
}

.box3 p {
    text-align: center;
}

.icon {
    border-radius: 1px solid #84C52B;
    padding: 40px 50px 10px 50px;
    color: #84C52B;

}
